<template name="layout">

  <div class="ui primary pointing menu">
    <a class="item" href="/">
      Home
    </a>

    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>


  {{>yield}}

  <div class="footer">Un jeu qu'il est bien avec un nom qu'il est pas compliqu&eacute;</div>
</template>

<template name="lobby">
  <button class="ui primary button newGame">New game</button><br/>

  <ul>
    {{#each games}}
      {{> gameItem}}
    {{/each}}
  </ul>
</template>

<template name="gameItem">
  <li><a href="{{pathFor "game" _id=_id}}">{{name}} {{_id}}</a></li>
</template>
