<head>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=1">
</head>

<template name="layout">

  <div class="ui pointing menu">
    <a class="item" href="/">Home</a>
    {{#unless connected}}
      <div class="ui active item" href="#">Connection issue...</div>
    {{/unless}}
    <div class="right menu"><a class="ui item">{{> loginButtons}}</a></div>
  </div>


  {{>yield}}



  <div class="footer">Un jeu qu'il est bien avec un nom qu'il est pas compliqu&eacute;</div>
</template>

<template name="lobby">

  <div class="ui two column grid">
    <div class="column">
      <div class="ui raised segment">
        <a class="ui red ribbon label">Games</a>
        <ul>
          {{#each games}}
            {{> gameItem}}
          {{/each}}
        </ul>

        <a class="ui blue ribbon label">New game</a><br/>
        <br/>

        <form class="ui form">
          <div class="inline fields">
            <label class="ui label">Game name</label>
            <input class="ui field" id="gameName">
          </div>
        </form>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <a class="ui orange right ribbon label">Online users</a><br/>

        <div class="online-users">
          {{#each usersOnline}}
            {{> onlineUser}}
          {{/each}}
        </div>

        <a class="ui teal right ribbon label">Offline users</a><br/>

        <div class="online-users">
          {{#each usersOffline}}
            {{> onlineUser}}
          {{/each}}
        </div>
      </div>
    </div>

  </div>

</template>

<template name="gameItem">
  <li><a href="{{pathFor "game" _id=_id}}">{{name}}</a></li>
</template>

<template name="onlineUser">
  <div class="ui {{onlineClass}} label">
    <i class="user icon"></i> {{username}}
  </div>
</template>
